.advert-tile-info { 
    width: 320px;
    height: 320px;
    background: #fff;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.27);
    overflow: auto;
    border-radius:3px;
}

.advert-details {
    float: left;
    padding-left: 5px;
}

.advert-details-2 {
    float: right;
    text-align: right;
    padding-right: 5px;
}

.crop-image {
    width: 300px;
    height: 150px;
    overflow: hidden;
}

.crop-image img {
    width: 400px;
    height: 300px;
    margin: -75px 0 0 -100px;
}

.advert-photo {
    width: 300px;
    height: 200px;
}

.advert-content-box {
    text-align: center;
    position: relative;
}

.advert-content-box .footer {
    position:absolute;
    width:100%;
}

.advert-flexbox {
    margin-left: 50px;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.category-list {
    position: fixed; 
    z-index: 1;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.advert-panel {
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.add-advert-container {
    text-align: center;
}

@media screen and (min-width: 720px) {
    .add-advert-content {
        width: 500px;
    }
}

.add-advert-content {
    display: inline-block;
    margin-top: 30px;
    vertical-align: middle;
    position: relative;    
    padding: 35px;
}

.details-additional-info {
    display: inline-flex;
    vertical-align: left;
    width: 10%;
}

.additional-info-holder {
    display: inline-flexbox;
    vertical-align: left;
}

.add-advert-content-whole {
    background: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 2px;
    display: inline-flex;
    margin-top: 30px;
}

.add-advert-additional-info {
    vertical-align: middle;
    position: relative;
}

.add-advert-additional-info-element {
    margin-right: 30px;
    text-align: left;
}  

.add-advert-item {
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
}

.categoryActive {
    font-weight: bold;
}

.categoryInctive {
    font-weight: normal;
}

.sort-box {
    display: flex
}

.search-box-field {
    margin-right: 20px;
    width: 500px;
    margin-bottom: 50px;
}

.button-search {
    background-color: blue;
}