// Colors
$white: #fff;
$black: #000;
$grey: #595959;
$grey-dark: #2b2b2b;
$grey-light: #eee;
$green: #86c023;
$blue: #017ac7;

// Transition
$duration: 150ms;
$easing: ease-out;

//----------  reset
//------------------------------------------------------------------------------
html,
body {
  font-family: sans-serif;
}

button {
	padding: 0;
	border: none;
	background: none;
  //text-decoration: none;
}

button:hover {
	background-color: transparent;
	color: $blue;
}

//----------  pagination
//------------------------------------------------------------------------------
.pagination-wrapper {
  text-align: center;
	margin: 40px 0;
}

.pagination {
	display: inline-flex;
	flex: nowrap;
	height: 70px;
	margin-top: 70px;
	padding: 0 25px;
	max-width: 80vw;
}

.page-numbers {
	display: block;
	padding: 0 1.2rem;
	float: left;

	-webkit-transition: $duration $easing;
	-moz-transition: $duration $easing;
	-ms-transition: $duration $easing;
	transition: $duration $easing;


	background-color: $grey-light;
	color: $grey;
	font-size: 1rem;
	letter-spacing: 0.2em;
	line-height: 4.5rem;

	&.left {
		border-radius: 35px 0px 0px 35px;
		padding-left: 2rem;
	}

	&.right {
		border-radius: 0px 35px 35px 0px;
		padding-right: 2rem;
	}

	&.selected > button {
		color: $blue;
	}

	&:hover,
	&.current {
		background-color: lightblue;
		color: $white;
		transform: scale(1.2, 1.2);
		-webkit-transform: scale(1.2, 1.2);
		-moz-transform: scale(1.2, 1.2);
		-ms-transform: scale(1.2, 1.2);
	}

	&.left:hover,
	&.right:hover {
		background-color: lightblue;
    color: $blue;
	}
}