.signup-container {
    text-align: center;
}


@media screen and (min-width: 720px) {
    .signup-content {
        width: 500px;
    }
}

.signup-content {
    background: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 2px;
    display: inline-block;
    margin-top: 30px;
    vertical-align: middle;
    position: relative;    
    padding: 35px;
}

.signup-content

.social-btn {
    font-weight: 400;
    font-size: 16px;
}

.social-btn img {
    height: 36px;
    float: center;
}

.social-btn.google {
    margin-top: 7px;
    margin-bottom: 0px;
}

.social-btn.facebook img {
    margin-top: -15px;
    height: 34px;
    margin-left: 3px;
    margin-bottom: 15px;
}

.login-link {
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
}

.signup-title {
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.65);
}

input {
    border-radius: 5px;
    border-style: outset;
    padding: 10px;
}

.form-item {
    padding-bottom: 4px;
}